body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: #0d0d0d;
  color: #f2f2f2;
  line-height: 1.6;
}

.container {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #ff4d4d;
  text-align: center;
}

h2 {
  color: #ff944d;
  margin-top: 2em;
}

a {
  display: inline-block;
  margin-right: 1em;
  color: #66ffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ffccff;
}

.intro {
  text
